#root {
  width: 100vw;
  height: 100vh;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
  .app-content {
    flex: 1;
    overflow-y: auto;
    padding: 0 20px;
  }
  .demo-container {
    padding: 20px;
  }
}